<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <a class="navbar-brand" href="#">About</a>
  <a class="navbar-brand" href="#">Contact</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-4"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
      <div class="col-lg-4"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
        <div class="col-lg-4"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
          </div>
          </div>
          </div>
    <div class="row">
      <div class="col-lg-4"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
        <div class="col-lg-4"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
          <div class="col-lg-4"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
            </div>
            </div>
            </div>
      <div class="row">
        <div class="col-lg-4"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
          <div class="col-lg-4"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
            <div class="col-lg-4"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
              </div>
              </div>
              </div>
      </div>
    </div>

</div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
