<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="column"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
      <div class="column"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
        <div class="column"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
          </div>
          </div>
          </div>
    <div class="row">
      <div class="column"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
        <div class="column"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
          <div class="column"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
            </div>
            </div>
            </div>
      <div class="row">
        <div class="column"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
          <div class="column"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
            <div class="column"><p>Yo</p><button type="button" class="btn btn-primary">Primary</button>
              </div>
              </div>
              </div>
      </div>
    </div>
</div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
